#root{
  height: 100%;
  width: 100%;
  background-color: green;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.navbar{
  margin: 0;
  width: 100%;
  height:50%;
  background-color: black;
  text-align: center;
  color: white;
}
.title{
  padding: 10px;
  color: white;
  margin: 0;
  font-size: 5vh;
}
a{
  color: white;
}
#links{
  display: flex;
  justify-content: center;
  align-items: center;
}
#zdjecieMain{
  width: 100%;
  height: 70vh;
  padding-bottom: 110px;
}
#desc{
  float: right;
  margin-right: 80px;
  width: 40%;
  font-size: 20px;
  height: 100%;
  background-color: navy;
  color: yellow;
}
#smallPhoto{
  padding: 30px;
  height: 30vh;
  margin-left: 70px;
}